*{
   margin: 0;
   padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'PolySans', sans-serif;
    letter-spacing: -0.02em;
    cursor: pointer;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(51, 173, 234);
    align-items: center;
    height: 150px;
    flex-wrap: wrap; 
    height: auto;
}

.navbarText{
    color: aliceblue;
}
.navbarText h1{
    font-size: 60px;

}
.navbarText strong{
    color: rgb(101, 237, 237);
}
.navbarLi ul {
    display: flex;
    gap: 15px;
    padding: 50px 0 0 10px;
    flex-wrap: wrap;
}
.navbarLi li{
    list-style: none;

}

.navbarLi button{
    padding: 12px 23px;
}

/* --------------------------------------section 2----------------------------------- */

.space{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.space p {
    max-width: 800px;   
    margin: 20px auto;
    overflow-wrap: break-word; 
}
.space h1{
    color: rgb(51, 173, 234);
}
/* ------------------------------section 3------------------------------------- */
.secondCon{
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
}
.textAlign{
    margin: 40px 0 40px 40px;
    width: 50%;
}
.textAlign img{
    height: 100px;    
}
.textAlign p{
    font-size: 45px;
    padding-bottom: 20px;
}
.textAlign button{
    padding: 15px 55px;
    font-size: larger;
    border: none;
    background-color: rgb(54, 226, 54);
    
}
.textAlign button:hover{
    transform: scale(1.02);
    transition: 1s ease-in;
}
.imgAllign{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 0 20px 30px;
}
.position{
    position: relative;
    border-radius: 12px;
}
.position img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 5px 5px 20px;
    display: block;
}
.position img:hover{
    transform: scale(1.05);
    transition: 1s ease;
    filter: brightness(55%);
}
.position p{
    text-align: center;
    position: relative;
    bottom: 85px;
    color: white;
    font-size: 20px;
    z-index: 5;
}

/* ....................................section 3------------------------------ */
.box{
    margin-top: 30px;
    display: flex;
    gap: 200px;
    padding: 0 200px;
    flex-direction: row;
    align-items: center;
}
.box-text img{
    height: 20px;
}
.box-text p{
    font-size: small;
}
.box-list{
    background-color: rgb(51, 173, 234);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: none;
}
.box-list ul{
    display: flex;
    flex-direction: row;
}
.box-list li{
    list-style: none;
    padding: 0 10px;
}

.box-button button{
    padding: 5px 10px;
    border-radius: 10px;
    border-color: rgb(51, 173, 234);
    color: rgb(51, 173, 234);
    background: white;
}
.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(splash.jpg) ;
    background-position: center;
    background-size: contain;
    margin: 0 100px;
    padding: 40px 40px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}
.header h1 {
    color: white;
    font-size: 50px;
    padding-bottom: 50px;
}
.header span{
    color: rgb(51, 173, 234);
}
.header p{
    color: white;
    overflow-wrap: break-word;
    padding-bottom: 50px;
}
.header-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.header button{
    padding: 7px 20px;
    background-color: transparent;
    color: white;
}
.box1{
    border-radius: 10px;
    border-color: white;
    border-width: 0.01cm;
    cursor: pointer;
}
.box2{
    border-radius: 20px;
    border-width: 0.01cm;
    cursor: pointer;

}
.image-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
}
.floating-images img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.floating-images{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.nav-btn{
    height: 45px;
    width: 35px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    background-color: rgb(51, 173, 234);
    cursor: pointer;
    color: white;
}
.nav-btn:hover{
    transform: scale(1.1);
    transition: 1s;
}
.slider-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.card-container button{
    padding: 7px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(51, 173, 234);
    color: white;
}
.card-container button:hover{
    transform: scale(1.1);
}
.card-text1{
    color: rgb(51, 173, 234);
    font-size: smaller;
}
.card-text2{
    font-size: 20px;
}
.card-container span{
    color: rgb(51, 173, 234);  
}

/* .card-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-image{
    display: flex;
    flex-direction: row;
}
.card-image img{
    height: 20px;
}
.card-header img{
    height: 90px;
}
.card-align{
    display: flex;
    flex-direction: column;
}
.card-text3{
    display: flex;
    flex-direction: row;
}
.card-arrange{
} */