*{
   margin: 0;
   padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'PolySans', sans-serif;
    letter-spacing: -0.02em;
    cursor: pointer;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgb(51, 173, 234);
    align-items: center;
    height: 150px;
    flex-wrap: wrap; 
    height: auto;
}

.navbarText{
    color: aliceblue;
}
.navbarText h1{
    font-size: 60px;

}
.navbarText strong{
    color: rgb(101, 237, 237);
}
.navbarLi ul {
    display: flex;
    gap: 15px;
    padding: 50px 0 0 10px;
    flex-wrap: wrap;
}
.navbarLi li{
    list-style: none;

}

.navbarLi button{
    padding: 12px 23px;
}

/* --------------------------------------section 2----------------------------------- */

.space{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}
.space p {
    max-width: 800px;   
    margin: 20px auto;
    overflow-wrap: break-word; 
}
.space h1{
    color: rgb(51, 173, 234);
}
/* ------------------------------section 3------------------------------------- */
.secondCon{
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
}
.textAlign{
    margin: 40px 0 40px 40px;
    width: 50%;
}
.textAlign img{
    height: 100px;    
}
.textAlign p{
    font-size: 45px;
    padding-bottom: 20px;
}
.textAlign button{
    padding: 15px 55px;
    font-size: larger;
    border: none;
    background-color: rgb(54, 226, 54);
    
}
.textAlign button:hover{
    transform: scale(1.02);
    transition: 1s ease-in;
}
.imgAllign{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 0 20px 30px;
}
.position{
    position: relative;
    border-radius: 12px;
}
.position img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 5px 5px 20px;
    display: block;
}
.position img:hover{
    transform: scale(1.05);
    transition: 1s ease;
    filter: brightness(55%);
}
.position p{
    text-align: center;
    position: relative;
    bottom: 85px;
    color: white;
    font-size: 20px;
    z-index: 5;
}

/* ....................................section 3------------------------------ */
.box{
    margin-top: 30px;
    display: flex;
    gap: 200px;
    padding: 0 200px;
    flex-direction: row;
    align-items: center;
}
.box-text img{
    height: 20px;
}
.box-text p{
    font-size: small;
}
.box-list{
    background-color: rgb(51, 173, 234);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: none;
}
.box-list ul{
    display: flex;
    flex-direction: row;
}
.box-list li{
    list-style: none;
    padding: 0 10px;
}

.box-button button{
    padding: 5px 10px;
    border-radius: 10px;
    border-color: rgb(51, 173, 234);
    color: rgb(51, 173, 234);
    background: white;
}
.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(splash.jpg) ;
    background-position: center;
    background-size: contain;
    margin: 0 100px;
    padding: 40px 40px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}
.header h1 {
    color: white;
    font-size: 50px;
    padding-bottom: 50px;
}
.header span{
    color: rgb(51, 173, 234);
}
.header p{
    color: white;
    overflow-wrap: break-word;
    padding-bottom: 50px;
}
.header-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.header button{
    padding: 7px 20px;
    background-color: transparent;
    color: white;
}
.box1{
    border-radius: 10px;
    border-color: white;
    border-width: 0.01cm;
    cursor: pointer;
}
.box2{
    border-radius: 20px;
    border-width: 0.01cm;
    cursor: pointer;

}
.image-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;
}
.floating-images img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.floating-images{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.nav-btn{
    height: 45px;
    width: 35px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    background-color: rgb(51, 173, 234);
    cursor: pointer;
    color: white;
}
.nav-btn:hover{
    transform: scale(1.1);
    transition: 1s;
}
.slider-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.card-container button{
    padding: 7px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(51, 173, 234);
    color: white;
}
.card-container button:hover{
    transform: scale(1.1);
}
.card-text1{
    color: rgb(51, 173, 234);
    font-size: smaller;
}
.card-text2{
    font-size: 20px;
}
.card-container span{
    color: rgb(51, 173, 234);  
}
.card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 40px;
}
.card-fix{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 20px;

}
.card-align h3{
    font-size: 15px;
    padding-bottom: 5px;
}
.card-placement p{
    font-size: 10px;
    color: rgba(38, 40, 40, 0.501);
}
.card-placement button{
    padding: 1px;
    font-size: 9px;
    border-radius: 4px;
    border: none;
    color: rgb(51, 173, 234);
}
.card-iv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-placement{
    display: flex;
    gap: 5px;
}
.icon{
    height: 20px;
    width: 40px;
    object-fit: contain;
    border: 2px solid  rgba(0, 0, 0, 0.08);
    padding: 7px;
    background-color: rgba(158, 158, 155, 0.149);
    border-radius: 10px;
}
.icon2{
    height: 130px;
    width: 190px;
    padding: 10px 0;
    object-fit: cover;
    border-radius: 25px;

}
.button-primary{
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid rgb(51, 173, 234);
    color: rgb(51, 173, 234);
    background-color: white;
}

/* ------------------------------------section 5----------------------------------------------------- */
.previous{
    margin: 100px 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 232, 242);
    padding: 70px 0 0;
    height: 500px;
    
}
.previoust{
    font-size: 12px;
    color: rgb(51, 173, 234);
}
.previous h1{
    font-size: 20px;
    padding-bottom: 40px;

}
.previous span{
    color: rgb(51, 173, 234);
}
.previous-img{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.previous-align img{
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.previous-align{
    height: 250px;
    background-color: white;
    margin-bottom: 30px;
} 
.previous-position{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    color: black;
    font-size: 12px;
}
.previous button{
    padding: 5px 30px;
    border-radius: 10px;
    color: rgb(51, 173, 234);
    border: 2px solid rgb(51, 173, 234);
    background-color: white;
}
/* -----------------------------------------------section 6------------------------------------------------- */
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 170px 100px;
}
.plan1{
    display: flex;
    flex-direction: row;
    gap: 15px;


}
.plan h1{
    font-size: 20px;
    padding-bottom: 40px;
}
.plan span{
    color: rgb(51, 173, 234);
}
.plan2 img{
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.plan2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 10px;
}
.edit{
    font-weight: bold;
    font-size: 15px;
}
.line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    width: 200px;
    margin: 8px 0;
}

.previouss{
    font-size: 12px;  
}
.money{
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0;
    color: rgb(51, 173, 234);
}
.plan2 button{
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgb(51, 173, 234);
    color: rgb(51, 173, 234);
    background-color: white;
}
.plan3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.plan3 button{
    padding: 15px 20%;
    border: none;
    background-color: rgb(51, 173, 234);
    color: white;
    font-size: 10px;
}
.plan3 span{
    font-weight: bold;
}

/* --------------------------------------------------------section 7----------------------------------------------- */
.reference{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 170px 100px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 30px;
    background-color:rgb(237, 238, 238);
    border-radius: 10px;
}
.reference h1{
    color: rgb(33, 125, 33);   
    font-size: 30px;
    padding-bottom: 15px; 
}
.reference span{
    font-size: 20px;
}
/* .reference p{
    padding-bottom: 15px;
} */
.tgs{
    font-weight: bold;
    padding-bottom: 15px;
}
.tgs a{
    text-decoration: none;
    color: rgb(21, 148, 211);
    font-weight: lighter;
}
.color{
    padding-bottom: 15px;
}
.color span{
    color: rgb(21, 148, 211);
    font-size: 20px;
}
.reference-body{
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
}

.reference-links{
    padding: 5px 40px;
    background-color: rgb(17, 149, 61);
    font-size: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.fa-whatsapp{
    color: white;
    padding-right: 30px;
}
.reference-links:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-lanks{
    padding: 5px 40px;
    background-color: rgb(18, 96, 198);
    font-size: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
   
}
.fa-telegram{
    color: white;
    padding-right: 30px;
}
.reference-lanks:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-lenks{
    padding: 5px 40px;
    background: linear-gradient(45deg, #833AB4, #FD1D1D, #FCAF45);
    font-size: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;

}
.fa-instagram{
    color: white;
    padding-right: 30px;

}.reference-lenks:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-lonks{
    padding: 5px 40px;
    background-color: rgb(69, 138, 228);
    font-size: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
}
.fa-facebook{
    color: white;
        padding-right: 30px;

}
.reference-lonks:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-lunks{
    padding: 5px 40px;
    background-color: rgb(14, 59, 118);
    font-size: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;

}
.fa-linkedin{
    color: white;
    padding-right: 30px;

}
.reference-lunks:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-ljnks{
    padding: 5px 40px;
    background-color: rgb(27, 115, 230);
    font-size: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
}
.fa-twitter{
    color: white;
    padding-right: 30px;

}
.reference-ljnks:hover{
    transform: scaleY(1.1);
    transition: ease;
    margin-bottom: 10px;
    
}
.reference-foot{
    display: flex;
    flex-direction: column;
}
.reference-footer{
    display: flex;
    flex-direction: row;
    padding: 0 0 15px;
    gap: 20px;
}
.reference-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.reference-button button{
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
}
.reference-button a{
    text-decoration: none;
    font-size: large;
    color: white;
}
.green{
    background: linear-gradient(#274, #3A6);
}
.green:hover{
    background: linear-gradient(#3A6, #274);
}
.blue{
    background: linear-gradient(rgba(0, 0, 255, 0.977),rgb(98, 131, 185));
}
.blue:hover{
        background: linear-gradient(rgb(98, 131, 185), rgba(0, 0, 255, 0.977));

}
.ash{
    background: linear-gradient(gray,rgb(185, 184, 184));
}
.ash:hover{
    background: linear-gradient(rgb(185, 184, 184),gray);
}